.nav_ac {
    padding: 8px 14px;
    margin: 0;
    border: 0;
    background: transparent;
    color: var(--text-color);
    line-height: 1;
    cursor: pointer;
}

.nav_ac svg {
    width: 1.5rem;
    height: 1.5rem;
}